<h1>Listing subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Portfolio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.description %></td>
        <td><%= subject.portfolio %></td>
        <td><%= link_to 'Show', [:admin, subject] %></td>
        <td><%= link_to 'Edit', edit_admin_subject_path(subject) %></td>
        <td><%= link_to 'Destroy', [:admin, subject], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_admin_subject_path %>
