

<% category.skills.svg.each do |skill| %>
							<div class = "skillsDiv" id = "svgSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>

<% category.skills.styling.each do |skill| %>
							<div class = "skillsDiv" id = "stylingSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>

<% category.skills.scripting.each do |skill| %>
							<div class = "skillsDiv" id = "stylingSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>

<% category.skills.framework.each do |skill| %>
							<div class = "skillsDiv" id = "stylingSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>

<% category.skills.software.each do |skill| %>
							<div class = "skillsDiv" id = "stylingSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>

<% category.skills.styling.each do |skill| %>
							<div class = "skillsDiv" id = "stylingSkills"> 
								<%= skill.name %>
							
							</div> 
								<% end %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% %>
<% end %>
