<!DOCTYPE html>
<html>
<head>
  <title>TfpSite3</title>
  <link href = 'http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,300italic,400italic|Josefin+Sans|Open+Sans|Raleway' rel = "stylesheet" type = "text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <%# stylesheet_link_tag 'flexslider'%>
   <%# stylesheet_link_tag 'onepage-scroll'%>
   <%# javascript_include_tag 'onepagescroll'%>
   <%# javascript_include_tag 'jquery.flexslider-min.js'%>
   <%# javascript_include_tag 'jquery-scrolltofixed-min.js'%>
  <%= csrf_meta_tags %>
</head>
<body>
				<%= render "portfolioNavigation" %>


	<div class="onePageScroll">



	<!-- becauseDevise -->



<%= yield %>


</div>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</body>
</html>
